.inventory_table_controls {
  display: flex;
  justify-content: space-between;

  margin: 20px;
}

.sort_controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inventory_table_controls select {
  padding: 10px;
}

.inventory_table {
  border-collapse: collapse;
  width: 100%;
}

.inventory_table tr:nth-child(even) {
  background: #d0d0d0;
}

.inventory_table tr > td {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.inventory_table th {
  border: 1px solid silver;
  padding: 10px;
  text-align: left;
  background: var(--purple);
  color: var(--off-white);
}

.item_record {
  border-bottom: 1px solid silver;
}

.floating_bar {
  background: var(--pink);
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;

  align-self: center;
  position: fixed;
  top: 105%;
}

.float_in {
  animation-name: float_in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.float_out {
  animation-name: float_out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* The animation code */
@keyframes float_in {
  from {
    top: 105%;
  }
  to {
    top: 85%;
  }
}

@keyframes float_out {
  from {
    top: 85%;
  }
  to {
    top: 105%;
  }
}
